<div class="wrapper" [ngStyle]="{
  'background-image':'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)),url('+netflix_background+')'}">

<div>
  <img class="netflix_logo" src= '../../../assets/Epiflix_logo.png' alt="logo" srcset="">
</div>

<div class="regiter">
  <div *ngIf="isRegesterd">
    <app-login (isRegesterdsetter)="isRegesterdsetter()"></app-login>
  </div>
  <div *ngIf="!isRegesterd">
    <app-register (isRegesterdsetter)="isRegesterdsetter()"></app-register>
  </div>

</div>


</div>